### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [283]:
# Dependencies and Setup
import pandas as pd

# importing numbpy
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

In [284]:
#Display the total number of players
plr = purchase_data['SN'].unique()
df1 = pd.DataFrame(plr, columns= ['Total Players']).count()
df1 = pd.DataFrame(df1).transpose()
df1.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [285]:
#unique Items
unq = purchase_data['Item ID'].unique()
df1 = pd.DataFrame(unq, columns= ['Number of Unique Items']).count()

In [286]:
#average price
avg1 = purchase_data['Price'].mean()
df1['Average Price'] = f'${avg1}'

In [287]:
#number of purchases
cnt = len(purchase_data)
df1['Number of Purchases'] = cnt

In [288]:
#total revenue
sm = purchase_data['Price'].sum()
df1['Total Revenue'] = f'${sm}'
pd.DataFrame(df1).transpose()

  Number of Unique Items       Average Price Number of Purchases Total Revenue
0                    179  $3.050987179487176                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [289]:
# percentage of players
cnt_df = pd.DataFrame({'count' : purchase_data.groupby( [ "SN", "Gender"] ).size()}).reset_index()
unk = cnt_df['Gender'].value_counts()/cnt_df['Gender'].count()*100
unk

Male                    84.03
Female                  14.06
Other / Non-Disclosed    1.91
Name: Gender, dtype: float64

In [290]:
# counts of players
unk1 = cnt_df['Gender'].value_counts()
unk1

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [291]:
# percentage and counts of players together
a_series = pd.Series(unk, name="Percentage of Players")
another_series = pd.Series(unk1, name="Total Count")
dmg_df = pd.concat([a_series, another_series], axis=1)
dmg_df.head()

                       Percentage of Players  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [384]:
gk = purchase_data.groupby("Gender")
df1 = gk['SN'].agg([np.size])
df2 = gk['Price'].agg([np.mean])
df3 = gk['Price'].agg([np.sum])

df4 = gk['Price'].agg([np.sum]).astype(float)
df5 = gk['SN'].unique().agg([np.size]).astype(int)
df6 = df4['sum'].div(df5['size'])

fnl_df1 = pd.merge(df1,df2,on="Gender",how="outer")
fnl_df1 = pd.merge(fnl_df1,df3,on="Gender",how="outer")
fnl_df1 = pd.concat([fnl_df1,df6],axis=1)
fnl_df1 = fnl_df1.rename(columns={"size":"Purchase Count","mean":"Average Purchase Price",
                                  "sum":"Total Purchase Value",0:"Avg Total Purchase Per Person"})
fnl_df1

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,"1,967.64",4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [573]:
grp_sn = pd.DataFrame({'age' : purchase_data.groupby( [ "SN", "Age"] ).size()}).reset_index()
bins=[0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
grp_sn['Age_Bin'] = pd.cut(grp_sn['Age'],bins=bins,labels=labels,include_lowest=True)
ag_bin = grp_sn.groupby("Age_Bin")`
unk2 = ag_bin["Age"].count()
unk3 = ag_bin["Age"].count()/len(grp_sn["SN"])*100

a_series1 = pd.Series(unk2, name="Total Count")
another_series2 = pd.Series(unk3, name="Percentage of Players")
dmg_df1 = pd.concat([a_series1, another_series2], axis=1)
dmg_df1

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001AC8ACE7F70>

         Total Count  Percentage of Players
Age_Bin
<10               17                   2.95
10-14             22                   3.82
15-19            107                  18.58
20-24            258                  44.79
25-29             77                  13.37
30-34             52                   9.03
35-39             31                   5.38
40+               12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [584]:
grp_sn = pd.DataFrame({'age_count':purchase_data.groupby("Age").size()}).reset_index()
bins=[0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
grp_sn1['Age_Bin1'] = pd.cut(grp_sn["Age"],bins=bins,labels=labels,include_lowest=True)
ag_bin1 = grp_sn1.groupby("Age_Bin1")
print(ag_bin1['Age_Bin1'].count())

Age_Bin1
<10      3
10-14    5
15-19    5
20-24    5
25-29    5
30-34    5
35-39    5
40+      6
Name: Age_Bin1, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame